body {
  background: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

p {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

