body {
    background: #111;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

div {
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
}

.interface {
    top: 0;
    width: 10%;
    height: 100%;
    pointer-events: auto;
}

.interface:nth-child(1) { left: 0%; }
.interface:nth-child(1):hover ~ .window { transform: rotateY(-40deg); }
.interface:nth-child(2) { left: 10%; }
.interface:nth-child(2):hover ~ .window { transform: rotateY(-30deg); }
.interface:nth-child(3) { left: 20%; }
.interface:nth-child(3):hover ~ .window { transform: rotateY(-20deg); }
.interface:nth-child(4) { left: 30%; }
.interface:nth-child(4):hover ~ .window { transform: rotateY(-10deg); }
.interface:nth-child(5) { left: 40%; }
.interface:nth-child(5):hover ~ .window { transform: rotateY(0deg); }
.interface:nth-child(6) { left: 50%; }
.interface:nth-child(6):hover ~ .window { transform: rotateY(10deg); }
.interface:nth-child(7) { left: 60%; }
.interface:nth-child(7):hover ~ .window { transform: rotateY(20deg); }
.interface:nth-child(8) { left: 70%; }
.interface:nth-child(8):hover ~ .window { transform: rotateY(30deg); }
.interface:nth-child(9) { left: 80%; }
.interface:nth-child(9):hover ~ .window { transform: rotateY(40deg); }
.interface:nth-child(10) { left: 90%; }
.interface:nth-child(10):hover ~ .window { transform: rotateY(50deg); }

.window {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1000ms cubic-bezier(0.17, 0.935, 0.305, 1);
}

.wall {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wall_glass {
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    width: 200px;
    height: 300px;
    background: rgba(255, 203, 136, 0.336);
    transform: translateZ(-10px);
}

.wall_top {
    top: calc(50% - 9999px - 150px);
    left: calc(50% - 4999.5px);
    width: 9999px;
    height: 9999px;
    background: #000;
}
.wall_top::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #323232;
    transform-origin: 0 100%;
    transform: rotateX(90deg);
}

.wall_right {
    left: calc(50% + 100px);
    top: calc(50% - 4999.5px);
    width: 9999px;
    height: 9999px;
    background: #000;
}
.wall_right::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background: #323232;
    transform-origin: 0 0;
    transform: rotateY(90deg);
}

.wall_bottom {
    top: calc(50% + 150px);
    left: calc(50% - 4999.5px);
    width: 9999px;
    height: 9999px;
    background: #000;
}
.wall_bottom::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #323232;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}

.wall_left {
    left: calc(50% - 9999px - 100px);
    top: calc(50% - 4999.5px);
    width: 9999px;
    height: 9999px;
    background: #000;
}
.wall_left::before {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 100%;
    background: #323232;
    transform-origin: 100% 0;
    transform: rotateY(-90deg);
}

.wall_vertical {
    top: calc(50% - 150px);
    left: calc(50% - 10px);
    width: 20px;
    height: 300px;
    background: #000;
}
.wall_vertical::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background: #323232;
    transform-origin: 0 0;
    transform: rotateY(90deg);
}
.wall_vertical::after {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 100%;
    background: #323232;
    transform-origin: 100% 0;
    transform: rotateY(-90deg);
}

.wall_horizontal {
    top: calc(50% - 10px);
    left: calc(50% - 100px);
    width: 200px;
    height: 20px;
    background: #000;
}
.wall_horizontal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #323232;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}
.wall_horizontal::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #323232;
    transform-origin: 0 100%;
    transform: rotateX(90deg);
}

.light {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    width: 200px;
    height: 300px;
    transform-origin: 50% 100%;
    transform: translateY(200px) translateZ(100px) rotateX(-90deg);
    backface-visibility: visible;
}
.light_ref {
    position: absolute;
    width: 90px;
    height: 140px;
    background: rgba(255, 209, 123, 0.247);
    backface-visibility: visible;
}
.light_ref_2 { right: 0; }
.light_ref_3 { bottom: 0; }
.light_ref_4 { right: 0; bottom: 0; }

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(1px);
}

.mask_right {
    left: calc(50% + 100px);
    width: 200vw;
    height: 200vh;
    top: -50vh;
    background: #000;
}

.mask_left {
    right: calc(50% + 100px);
    width: 200vw;
    height: 200vh;
    top: -50vh;
    background: #000;
}

.rain {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(-60px);
}
.rain_line {
    position: absolute;
    width: 1px;
    height: 100%;
}

@keyframes drop {
    0% { transform: translateY(-20vh); }
    100% { transform: translateY(100vh); }
}